// Variables
// ------------------------------------
html {
  font-size: 62.5%;
}
//== Colors
$oauk-primary-color: #1570EF;
$oauk-danger-color: #D90020;
$oauk-text-color: #101828;
$oauk-body-bg: #FFFFFF;

//===Scaffolding
$oauk-border-radius-base:         .6rem !default;
$oauk-border-radius-large:        .8rem !default;
$oauk-border-radius-small:        .4rem !default;

$oauk-font-size-base: 1.4rem;
$oauk-font-size-large: 1.6rem;
$oauk-font-size-small: 1.2rem;
$oauk-font-family: "Open Sans";

$oauk-padding-base-vertical:  2.4rem !default;
$oauk-padding-small-vertical:  1.6rem !default;
$oauk-padding-base-horizontal:  2.4rem !default;
$oauk-padding-small-horizontal:  1.6rem !default;

$oauk-margin-base-vertical: 2.4rem !default;

//== Buttons
$oauk-box-shadow-btn: 0 .1rem .2rem 0 rgba(16, 24, 40, 0.05);

//== Forms
$oauk-box-shadow-form: 0 .1rem .2rem 0 rgba(16, 24, 40, 0.05);

$oauk-title-color-form: $oauk-text-color;
$oauk-input-color: $oauk-text-color;
$oauk-input-placeholder-color: #667085;
$oauk-input-feedback-color: #5a6a8f;
$oauk-input-lbl-color: #475467;
$oauk-error-color: $oauk-danger-color;

$oauk-input-vertical-margin: $oauk-margin-base-vertical;

$oauk-font-size-form-legend: 2.4rem;
$oauk-line-height-form-legend: 3.2rem;

$oauk-input-height: 3.6rem;
$oauk-input-line-height: 3.6rem;

//== Tables
$oauk-border-color-table: #EAECF0;
$oauk-border-style-table: .1rem solid $oauk-border-color-table;
$oauk-tr-odd-bg-color: #fbfbfd;
$oauk-tr-even-bg-color: #ffffff;

//== Icons
$oauk-box-shadow-icons: 0 .1rem .2rem 0 rgba(16, 24, 40, 0.05);

//-- Panels
$oauk-module-head-height: 7.6rem;
$oauk-module-head-bg-color: $oauk-primary-color;
$oauk-module-head-color: #ffffff;
$oauk-module-title-font-size: 3rem;
$oauk-module-title-line-height: 7.6rem;

$oauk-panel-title-font-size: 2.4rem;
$oauk-panel-title-line-height: 3.6rem;

//-- Modal
$oauk-modal-head-height: 7.6rem;
$oauk-modal-head-bg-color: $oauk-primary-color;
$oauk-modal-head-color: #ffffff;
$oauk-modal-title-font-size: 3rem;
$oauk-modal-title-line-height: 7.6rem;

$oauk-modal-small-head-height: 6.8rem;
$oauk-modal-small-head-bg-color: $oauk-primary-color;
$oauk-modal-small-head-color: #ffffff;
$oauk-modal-small-title-font-size: 2.4rem;
$oauk-modal-small-title-line-height: 6.8rem;
